<div class="architect-item">
    <div class="custom-icon-box">
            <div class="ImageandTitle">
                <div class="Featureimage"> 
                    {% if ProProfile.ProfileImage %} 
                        {{ ProProfile.ProfileImage.thumbnail('Architects').html | raw }}
                    {% else %}
                        {% set defaultImage = "/static/images/default.png" %}
                        {% set image = pimcore_asset(defaultImage) %}
                        {# {{ image.thumbnail('Architects').html|raw }} #}
                        {{ pimcore_asset_by_path('/Static/DefaultImage.jpeg').thumbnail('Architects').html|raw }}
                    {% endif %}  
                </div>
                <div class="TitleDescriptionContact">
                    <div class="TitleAndDescription">
                        <div class="ProfileTitle">
                            {% if listingtype == 'Contractor' %}
                            <h3>
                            <a href="/contractor/portfolio/{{ ProProfile.getKey() }}">{{ ProProfile.getCompanyName() }}</a>
                            </h3>
                            {% endif %}
                            {% if listingtype == 'Designer' %}
                            <h3>
                            <a href="/designer/portfolio/{{ ProProfile.getKey() }}">{{ ProProfile.getCompanyName() }}</a>
                            </h3>
                            {% endif %}
                            {% if listingtype == 'Architect' %}
                            <h3>
                            <a href="/architect/portfolio/{{ ProProfile.getKey() }}">{{ ProProfile.getCompanyName() }}</a>
                            </h3>
                            {% endif %}
                            {% if listingtype == 'Builder' %}
                            <h3>
                            <a href="/builder/portfolio/{{ ProProfile.getKey() }}">{{ ProProfile.getCompanyName() }}</a>
                            </h3>
                            {% endif %}
                            {% if listingtype == 'Manufacturer' %}
                            <h3>
                            <a href="/manufacturer/portfolio/{{ ProProfile.getKey() }}">{{ ProProfile.getCompanyName() }}</a>
                            </h3>
                            {% endif %}
                        </div>
                        {% if listingtype == 'Contractor' %}
                            <div class="ProfileDescription"><p>{{ ProProfile.getDescription()|slice(0, 220) }} {% if ProProfile.getDescription()|length > 220 %}... <a href="/contractor/portfolio/{{ ProProfile.getKey() }}" style="color:#48a89e;">Read More</a>{% endif %}</p></div>
                        {% endif %}
                        {% if listingtype == 'Designer' %}
                            <div class="ProfileDescription"><p>{{ ProProfile.getDescription()|slice(0, 220) }} {% if ProProfile.getDescription()|length > 220 %}... <a href="/designer/portfolio/{{ ProProfile.getKey() }}" style="color:#48a89e;">Read More</a>{% endif %}</p></div>
                        {% endif %}
                        {% if listingtype == 'Architect' %}
                            <div class="ProfileDescription"><p>{{ ProProfile.getDescription()|slice(0, 220) }} {% if ProProfile.getDescription()|length > 220 %}... <a href="/architect/portfolio/{{ ProProfile.getKey() }}" style="color:#48a89e;">Read More</a>{% endif %}</p></div>
                        {% endif %}
                        {% if listingtype == 'Builder' %}
                            <div class="ProfileDescription"><p>{{ ProProfile.getDescription()|slice(0, 220) }} {% if ProProfile.getDescription()|length > 220 %}... <a href="/architect/portfolio/{{ ProProfile.getKey() }}" style="color:#48a89e;">Read More</a>{% endif %}</p></div>
                        {% endif %}
                        {% if listingtype == 'Manufacturer' %}
                            <div class="ProfileDescription"><p>{{ ProProfile.getDescription()|slice(0, 220) }} {% if ProProfile.getDescription()|length > 220 %}... <a href="/architect/portfolio/{{ ProProfile.getKey() }}" style="color:#48a89e;">Read More</a>{% endif %}</p></div>
                        {% endif %}
                        
                    </div>
                    <div class="ProfileContact"><p><i class="fab fa-whatsapp" style="font-size:15px;color:#48a89e"></i>{{ ProProfile.getCountryCode() }} {{ ProProfile.getPhoneNumber() }}</p></div>
                </div>
            </div>
            <div class="YearStarsReadmore">
                <div class="yearprojects">
                    <div class="EstYear"><b><i class="fa fa-calendar" style="font-size:15px;color:#48a89e"></i>{{ ProProfile.getYearEstablished() }}</b><p>Est.Year</p>
                    </div>
                    {% if listingtype != 'Manufacturer' %}
                        <div class="TotalProjects"><b><i class="fa fa-rocket" style="font-size:15px;color:#48a89e"></i>{{ ProProfile.getProjectsNumber() }}</b><p>{{ ProProfile.getProjectsNumber() <= 1 ? 'Project' : 'Projects' }}</p>
                        </div>
                    {% endif %}
                    {% if listingtype == 'Manufacturer' %}
                        <div class="TotalProjects"><b><i class="fa fa-rocket" style="font-size:15px;color:#48a89e"></i>{{ ProProfile.getProductsNumber() }}</b><p>{{ ProProfile.getProductsNumber() <= 1 ? 'Product' : 'Products' }}</p>
                        </div>
                    {% endif %}

                </div>
               
                <div class="StarsRating">

                    {% set rating = ProProfile.getProRating() %}
                    {% set fullStars = rating | round(0, 'floor') %}
                    {% set hasHalfStar = (rating - fullStars) >= 0.5 %}
                    
                    {% for i in range(1, 5) %}
                        {% if i <= fullStars %}
                            <span class="fa fa fa-star checked" style="color: orange;"></span>
                        {% elseif hasHalfStar %}
                            {% set hasHalfStar = false %}
                            <span class="fa-solid fa-star-half-stroke" style="color: orange;"></span>
                        {% else %}
                            <span class="fa fa-regular fa-star"></span>
                        {% endif %}
                    {% endfor %}

                    {# <p><span class="fa fa-star checked" style="color: orange;"></span>
                    <span class="fa fa-star checked" style="color: orange;"></span>
                    <span class="fa fa-star checked" style="color: orange;"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span></p> #}
                </div>
                {% if listingtype == 'Contractor' %}
                    <div class="viewarchitect"><p><a href="/contractor/portfolio/{{ ProProfile.getKey() }}" class="btn btn-lg btn-block btn-success btn"><i class="fa fa-eye" aria-hidden="true" style="font-size:15px;"></i>View</a></p></div>
                {% endif %}
                {% if listingtype == 'Designer' %}
                    <div class="viewarchitect"><p><a href="/designer/portfolio/{{ ProProfile.getKey() }}" class="btn btn-lg btn-block btn-success btn"><i class="fa fa-eye" aria-hidden="true" style="font-size:15px;"></i>View</a></p></div>
                {% endif %}
                {% if listingtype == 'Architect' %}
                    <div class="viewarchitect"><p><a href="/architect/portfolio/{{ ProProfile.getKey() }}" class="btn btn-lg btn-block btn-success btn"><i class="fa fa-eye" aria-hidden="true" style="font-size:15px;"></i>View</a></p></div>
                {% endif %}
                {% if listingtype == 'Builder' %}
                    <div class="viewarchitect"><p><a href="/builder/portfolio/{{ ProProfile.getKey() }}" class="btn btn-lg btn-block btn-success btn"><i class="fa fa-eye" aria-hidden="true" style="font-size:15px;"></i>View</a></p></div>
                {% endif %}
                {% if listingtype == 'Manufacturer' %}
                    <div class="viewarchitect"><p><a href="/manufacturer/portfolio/{{ ProProfile.getKey() }}" class="btn btn-lg btn-block btn-success btn"><i class="fa fa-eye" aria-hidden="true" style="font-size:15px;"></i>View</a></p></div>
                {% endif %}
            </div>
        </div>
</div>