<nav aria-label="Pagination">
    <ul class="custom-pagination justify-content-center">

        {# Previous page button #}
        {% if paginationVariables.previous is defined %}
            <li class="pagination-item prev">
                <a href="{{ pimcore_url({'page': paginationVariables.previous}) }}" aria-label="Previous">
                    <span aria-hidden="true">Priv</span>
                </a>
            </li>
        {% endif %}

        {# Pages in range #}
        {% for page in paginationVariables.pagesInRange %}
            {% if paginationVariables.current == page %}
                <li class="pagination-item active" aria-current="page">
                    <span>
                        {{ page }}
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
            {% else %}
                <li class="pagination-item"><a href="{{ pimcore_url({'page': page}) }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {# Next page button #}
        {% if paginationVariables.next is defined %}
            <li class="pagination-item next">
                <a href="{{ pimcore_url({'page': paginationVariables.next}) }}" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                </a>
            </li>
        {% endif %}

    </ul>
</nav>